<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body class="{% if profile == 'rumeza' %}rumeza{% endif %}">
    <header class="nav-bar {% if profile == 'rumeza' %}rumeza{% endif %}">
        <div class="nav-content">
            <a href="/?profile={{ profile }}"><div class="nav-logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" /></div></a>
            <nav>
                <a href="/?profile={{ profile }}">Home</a>
                <a href="/hobbies?profile={{ profile }}">Hobbies</a>
                <a href="/timeline?profile={{ profile }}">Timeline</a>
                <a href="/?profile={{ other_profile }}" class="toggle-profile-btn">Switch to {{ other_profile_name }}</a>
            </nav>
        </div>
    </header>
    <div class="section">
        <h2>Hobbies & Interests</h2>
        {% for hobby in hobbies %}
        <div class="hobby-item">
            <img src="{{ url_for('static', filename=hobby.img) }}" alt="{{ hobby.alt }}">
            <div class="hobby-text">
                <h3>{{ hobby.name }}</h3>
                <p>{{ hobby.desc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html> 