<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/"><div class="nav-logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" /></div></a>
            <nav>
                <a href="/">Home</a>
                <a href="/hobbies">Hobbies</a>
            </nav>
        </div>
    </header>
    <div class="section">
        <h2>Hobbies & Interests</h2>
        {% for hobby in hobbies %}
        <div class="hobby-item">
            <img src="{{ url_for('static', filename=hobby.img) }}" alt="{{ hobby.alt }}">
            <div class="hobby-text">
                <h3>{{ hobby.name }}</h3>
                <p>{{ hobby.desc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html> 