<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body class="{% if profile == 'rumeza' %}rumeza{% endif %}">
    <header class="nav-bar {% if profile == 'rumeza' %}rumeza{% endif %}">
        <div class="nav-content">
            <a href="/?profile={{ profile }}"><div class="nav-logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" /></div></a>
            <nav>
                <a href="/?profile={{ profile }}">Home</a>
                <a href="/hobbies?profile={{ profile }}">Hobbies</a>
                <a href="/timeline?profile={{ profile }}">Timeline</a>
                <a href="/?profile={{ other_profile }}" class="toggle-profile-btn">Switch to {{ other_profile_name }}</a>
            </nav>
        </div>
    </header>

    <div class="profile {% if profile == 'rumeza' %}rumeza{% endif %}">
        <div id="profile-picture" class="profile-picture">
            <img src="{{ url_for('static', filename=profile_img) }}" alt="{{ title }}'s Profile Picture">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <!-- About Me Section -->
    <div class="section">
        <h2>About Me</h2>
        <p>
            {{ about }}
        </p>
    </div>

    <!-- Work Experience Section -->
    <div class="section">
        <h2>Work Experiences</h2>
        {% for exp in work_experiences %}
        <div class="experience-item">
            <h3>{{ exp.title }}</h3>
            <h4>{{ exp.company }} | {{ exp.date }}</h4>
            <ul>
                {% for detail in exp.details %}
                <li>{{ detail|safe }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

    <div class="section">
        <h2>Education</h2>
        {% for edu in education %}
        <div class="experience-item">
            <h3>{{ edu.degree }}</h3>
            <h4>{{ edu.school }} | {{ edu.date }}</h4>
            <ul>
                {% for detail in edu.details %}
                <li>{{ detail|safe }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

    <div class="section">
        <h2>Places I've Traveled</h2>
        <div style="width: 100%; max-width: 600px; margin: 0 auto;">
            <iframe
                src="https://www.google.com/maps/embed/v1/place?key={{google_maps_api_key}}&q={{locations}}"
                width="100%" height="400" style="border:0; border-radius: 8px;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

</body>
</html>